div#content form div.field {
  clear: both;
  padding-top: 10px;
}

div#content form div.field label {
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
  width: 200px;
  border-bottom: 1px dashed #ddd;
}

div#content form div.field div.help{
  padding-top: 2px;
  font-size: 0.8em;
  color: #666;
}

div#content form div.field.required label:after {
  content: "*";
}

div#content form div.field label.plain {
  display: inline;
  width: auto;
  border-bottom: none;
  vertical-align: baseline;
}

div#content form div.field label.plain:after {
  content: '';
}

div#content form div.field div.fieldWithErrors {
  vertical-align: top;
  display: inline-block;
  padding-bottom: 2px;
}

div#content form div.field div.error {
  color: #f30;
  font-size: 0.9em;
}

div#content form.jeditable input[type='text'],
div#content form.jeditable textarea,
div#content form div.field input.file,
div#content form div.field input.text,
div#content form div.field select,
div#content form div.field textarea {
  display: inline-block;
  border: 1px solid #666;
  background: #eee;
}

div#content form div.field table,
div#content form div.field input.text,
div#content form div.field textarea {
  width: 600px;
}

div#content form div.field input.text.short {
  width: 100px;
}

div#content form div.field input.text.medium {
  width: 200px;
}

/********************************************************************************/
 
div#content form div.field textarea.markitup {
  width: 100%;
  height: 600px;
}

div.markItUpContainer div.markItUpHeader ul li {
  border-top: 1px solid #666;
  background: #eee;
}

div.markItUpContainer div.markItUpHeader ul li a {
  margin-top: 5px;
}

div.markItUpContainer div.markItUpHeader ul li.markItUpButton1 {
  border-left: 1px solid #666;
}

div.markItUpContainer div.markItUpHeader ul li.markItUpButton1 {
  padding-left: 5px;
  border-left: 1px solid #666;
}

div.markItUpContainer div.markItUpHeader ul li.markItUpButton12 {
  border-right: 1px solid #666;
}

/********************************************************************************/

div#content form.jeditable input[type='text'],
div#content form.jeditable textarea {
  background: #c2defb;
}

div#content form div.form_buttons {
  clear: both;
  float: right;
  margin-bottom: 1em;
}

div#content form div.form_buttons input.cancel,
div#content form input.submit,
div#content form div.form_buttons input.submit {
  display: inline-block;
  float: left;
  background: #999;
  color: #fff;
  padding: 1px 3px;
  margin-left: 3px;
  border: 1px solid #333;
  font-size: 11px;
}

div#content form input.submit,
div#content form div.form_buttons input.submit {
  background: #666;
}

div#content form div.form_buttons input.cancel:hover,
div#content form input.submit,
div#content form div.form_buttons input.submit:hover {
  text-decoration: none;
}

div#content form div.form_buttons input.cancel:active,
div#content form input.submit,
div#content form div.form_buttons input.submit:active {
  text-decoration: none;
  background: #333;
}

div#content form fieldset {
  border: 1px solid #bbb;
  padding: 0 0 10px 10px;
  margin: 1em 0;
  clear: both;
}

div#content form fieldset legend {
  font-weight: bold;
}

div#content form fieldset.collapsable legend {
  cursor: pointer;
}

div#content form fieldset label {
  font-size: 90%;
}

div#content form fieldset span.instructions {
  color: #666;
  font-size: 90%;
}

div#content form fieldset div.fieldset_contents {
  margin: 5px 10px 0 0;
}

/********************************************************************************/

div#content form fieldset fieldset {
  background-color: #f9f9f9;
}

div#content form fieldset fieldset legend {
  font-weight: normal;
  font-size: 90%;
}

div#content form fieldset fieldset label {
  font-size: 85%;
}

/********************************************************************************/

div#content form span.cke_skin_kama {
  border: none;
  padding: 0;
}

