form {
}

form div.field {
  clear: both;
  padding-top: 10px;
}

form div.field label {
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
  width: 200px;
  border-bottom: 1px dashed #ddd;
}

form div.field div.help{
  padding-top: 2px;
  font-size: 0.8em;
  color: #666;
}

form div.field.required label:after {
  content: "*";
}

form div.field label.plain {
  display: inline;
  width: auto;
  border-bottom: none;
  vertical-align: baseline;
}

form div.field label.plain:after {
  content: '';
}

form div.field div.fieldWithErrors {
  display: inline-block;
  padding-bottom: 2px;
}

form div.field div.error {
  color: #f30;
  font-size: 0.9em;
}

form.jeditable input[type='text'],
form.jeditable textarea,
form div.field input.file,
form div.field input.text,
form div.field select,
form div.field textarea {
  display: inline-block;
  border: 1px solid #666;
  background: #eee;
}

form div.field table,
form div.field input.text,
form div.field textarea {
  width: 600px;
}

form div.field input.text.short {
  width: 100px;
}

/********************************************************************************/
 
form div.field textarea.markitup {
  width: 100%;
  height: 600px;
}

div.markItUpContainer div.markItUpHeader ul li {
  border-top: 1px solid #666;
  background: #eee;
}

div.markItUpContainer div.markItUpHeader ul li a {
  margin-top: 5px;
}

div.markItUpContainer div.markItUpHeader ul li.markItUpButton1 {
  border-left: 1px solid #666;
}

div.markItUpContainer div.markItUpHeader ul li.markItUpButton1 {
  padding-left: 5px;
  border-left: 1px solid #666;
}

div.markItUpContainer div.markItUpHeader ul li.markItUpButton12 {
  border-right: 1px solid #666;
}

/********************************************************************************/

form.jeditable input[type='text'],
form.jeditable textarea {
  background: #c2defb;
}

form div.form_buttons {
  clear: both;
  float: right;
}

form div.form_buttons input.cancel,
form input.submit,
form div.form_buttons input.submit {
  display: inline-block;
  float: left;
  background: #999;
  color: #fff;
  padding: 1px 3px;
  margin-left: 3px;
  border: 1px solid #333;
  font-size: 11px;
}

form input.submit,
form div.form_buttons input.submit {
  background: #666;
}

form div.form_buttons input.cancel:hover,
form input.submit,
form div.form_buttons input.submit:hover {
  text-decoration: none;
}

form div.form_buttons input.cancel:active,
form input.submit,
form div.form_buttons input.submit:active {
  text-decoration: none;
  background: #333;
}

form fieldset {
  border: 1px solid #999;
  padding: 0 0 10px 10px;
  margin: 0 0 1em 0;
}

form fieldset legend {
  font-weight: bold;
}

form fieldset label {
  font-size: 90%;
}
