#page #content .actions form {
  margin: 0;
  padding: 0;
  position: relative;
  top: -2px;
}

#page #content .actions form input.submit {
  padding: 2px 3px;
}

#page #content .actions form input.text {
  display: inline-block;
  padding: 2px 3px;
}
