<% @page_title = 'Dashboard' %>

<div id='dashboardlinks'>

  <%= link_to('Admin Users', admin_admin_users_path) if @the_admin_user.has_access_to?(:admin_users)  %>

  <%= link_to 'Change Password', admin_change_password_path %>

</div>

